appdirs==1.4.3
application-utility==1.1.4
attrs==19.1.0
beautifulsoup4==4.8.0
btrfsutil==1.1.1
caffeine-ng==3.4.2
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
cupshelpers==1.0
docopt==0.6.2
evdev==1.2.0
ewmh==0.1.6
Flask==1.1.1
gufw==19.10.0
html2text==2018.1.9
idna==2.8
itsdangerous==1.1.0
Jade-Application-Kit==2.0.9
Jinja2==2.10.1
louis==3.10.0
lutris==0.5.2.2
MarkupSafe==1.1.1
npyscreen==4.10.5
packaging==19.1
pacman-mirrors==4.14.2
Pillow==6.1.0
pwquality==1.4.0
pycairo==1.18.1
pycups==1.9.74
pycurl==7.43.0.3
PyGObject==3.32.2
pyparsing==2.4.2
PyQt5==5.13.0
PyQt5-sip==4.19.18
python-xlib==0.24
pyxdg==0.26
PyYAML==5.1.2
requests==2.22.0
setproctitle==1.1.10
six==1.12.0
soupsieve==1.9.3
team==1.0
ufw==0.36
urllib3==1.25.3
virtualenv==16.7.5
Werkzeug==0.15.6
