<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <meta charset="utf-8">
        <title>Editar</title>
    </head>
    <body>
        <h1>Editar</h1>
        <hr>
      <form action="" method="POST">
          <table>
              <tr>
                  <td>Nome</td>
                  <td><input type="text" name="name" value="{{person.name}}"</td>
              </tr>
              <tr>
                  <td>Data de nascimento</td>
                  <td><input type="date" name="birthday" value="{{person.birthday}}"</td>
              </tr>
              <tr>
                  <td>Celular</td>
                  <td><input type="text" name="telephone" value="{{person.telephone}}"</td>
              </tr>
              <tr>
                  <td>E-mail</td>
                  <td><input type="text" name="email" value="{{person.email}}"</td>
              </tr>
              <tr>
                  <td>Gênero</td>
                  <td><input type="radio" name="gender" value="Masculino" value="{{person.gender}}"> Masculino
                  <input type="radio" name="gender" value="Feminino" value="{{person.gender}}"> Feminino</td>
              </tr>
          </table><br>
          <input type="submit" value="Atualizar Dados">
      </form>
    </body>
    <body>
      <a href="{{url_for('index')}}">Voltar</a>
    </body>
</html>
