<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <title>Editar dados do cliente</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <h1>Editar dados do Cliente</h1>
        <hr>
      <form action="" method="POST">
          <table>
              <tr>
                  <td>Nome</td>
                  <td><input type="text" name="name" value="{{person.name}}"</td>
              </tr>
              <tr>
                  <td>Data de nascimento</td>
                  <td><input type="date" name="birthday" value="{{person.birthday}}"</td>
              </tr>
              <tr>
                  <td>Celular</td>
                  <td><input type="text" name="telephone" value="{{person.telephone}}"</td>
              </tr>
              <tr>
                  <td>E-mail</td>
                  <td><input type="text" name="email" value="{{person.email}}"</td>
              </tr>
              <tr>
                  <td>Gênero
                  <input type="radio" name="gender" value="Masculino" value="{{person.gender}}"> Masculino
                  <input type="radio" name="gender" value="Feminino" value="{{person.gender}}"> Feminino</td>
              </tr>
          </table><br>
          <input type="submit" value="Atualizar Dados">
      </form>
    </body>

    <body>
      <a href="{{url_for('list')}}">Voltar</a>
    </body>
</html>
