<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <title>Lista de Clientes</title>
        <link rel="stylesheet" href="static/css/main.css">
  </head>
  <body>
        <h1>Lista de Clientes</h1>
        <hr>
        <table border ="5">
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Data de Nascimento</td>
                <td>Celular</td>
                <td>E-mail</td>
                <td>Gênero</td>
                <td></td>
                <td></td>
              </tr>
              {% for person in people %}
              <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.birthday }}</td>
                <td>{{ person.telephone }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.gender }}</td>
                <td><a href="/delete/{{person.id}}">Deletar</a></td>
                <td><a href="/edit/{{person.id}}">Editar</a></td>
              </tr>
              {% endfor %}
        </table>

    </body>
    <body>
      <a href="{{url_for('index')}}">Voltar</a>
    </body>
</div>
</html>
